body{
  background-image: linear-gradient(to right, #ccf, #cfc);
}

a{
  text-decoration: none;
}

h1{
  margin: 0;
}
header{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

iframe{
  background-color: white;
}

.online{
  background-color: green;
}

.offline{
  background-color: grey;
}

.container{
  width: 60%;
  margin: 0 auto;
}
.inputBox{
  width: 30%;
  margin-top: 10px;
  height: 30px;
  border: 1px solid black;
  font-size: 20px;
}
.button{
  border: 1px solid black;
  background-color: #286090;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}
#inputBar{
  margin-left: 18px;
}

.radio{
  margin-top: 30px;
}
.wrapper{
  display: table;
  /*margin-top: -10px;*/

  border: 1px solid black;
}
.streamContainer{
  width: 100%;
  /* height: 70px; */
  height: 100%;
  /*Using table cells*/
  display: table;
  /*Used to keep description text from wrapping*/
  table-layout: fixed;
}

.videoContainer{
  display: table-row;
  width: 100%;
  height: 1%;
  text-align: center;
}

/*
iframe{
  width: 100%;
  display: none;
}
*/

/*Table mod used for all table-cells. Centers content*/
.tableMod{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.imageContainer{

}

.image{
  height: 50px;
  border-radius: 50%;
}

.titleContainer{

}

.descContainer{

  width: 55%;
  padding: 10px;
}

.exitDiv{

  display: table-cell;
  width: 5%;
}

.exitBtn{
  float: right;
}

.videoContainer{
  display: table-row;
  text-align: center;
  width: 100%;
}
/*Ellipsis to cut off description text*/
#desc0{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
