
body{
  /* background-color: #DCDBD9; */
  font: normal 100% Cambria, Georgia, serif;
  min-height: 100%;
  /* By Default, loading sunny image */
  background-image: url("https://res.cloudinary.com/dsusc7zii/image/upload/v1504164867/rachel-lees-267186_x5wvvo.jpg");
  /* Background img is centered vertically and horizontally */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

h1{
  font-size: 6.25em; /* 48px / 16px */
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
  text-shadow: 1px 1px 1px white;
}

#page{
  width: 90%;
  height: 100%;
  margin: auto;
}

.mainData{
  width: 72.92%;  /* 700px / 960px */
  padding: 2.85%;  /* 20px / 700px */
  margin: auto;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em; /* 24px / 16px */
  text-shadow: 1px 1px 1px white;
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.city{
  width: 28.57%; /* 200px / 700px */
  border-bottom: 5px solid grey;
  float: left;
}

.temperature{
  width: 28.57%; /* 200px / 700px */
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid grey;
}

.statusImg{
  width: 28.57%; /* 200px / 700px */
  border: none;
  float: right;
  border-bottom: 5px solid grey;
}

.zipCode{
  text-align: center;
}

#zipInput{
  text-align: center;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#zipInput:focus{
  border-radius: 0px;
  outline: none;
}

#zipButton{
  margin: auto;
  background-color: #add8e6;
}

@media screen and (max-width: 900px) and (max-height: 1000px){
  h1{
    font-size: 3em;
  }
  .mainData{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) and (max-height: 1024px){
  h1{
    font-size: 3em;
  }
  .mainData{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px){
  h1{
    font-size: 3em;
  }
  .mainData{
    font-size: 2.5em; /* 40px / 16px */
  }

  .city, .temperature, .statusImg{
    display: block;
    margin: 0%;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px){
  h1{
    font-size: 2em; /* 24px / 16px */
  }
  .mainData{
    font-size: 1.5em;
  }
  .city, .temperature, .statusImg{
    display: block;
    float: none;
    width: 100%;
  }
}
